body{
    font-family: "Playfair Display", serif;
    background: plum;
    color: rgb(185, 31, 152);
    margin: 0px;
    margin-bottom: 100px;

}
header{
    color:black;
    border-bottom: 3px solid white;
    font-size: 32px;
    padding: 20px;
}
h1{
    font-size: 35px;
}
.chamada{
    background: rgb(241, 178, 213);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada{
    margin-right: 5%;
}
.categoria{
 background: rgb(231, 96, 231);
 padding-left: 20px;
 padding-right: 20px;
 margin-top: 50px;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 20px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solid rgb(206, 7, 206);
}