body{
    font-family: "Playfair Display", serif;
    background: plum;
    color: black;
    margin: 0px;
    margin-bottom: 100px;

}
header{
    color:rgb(253, 248, 248);
    border-bottom: 3px solid rgb(245, 241, 241);
    font-size: 32px;
    padding: 20px;
}
h1{
    font-size: 35px;
}
.chamada{
    background: white;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada{
    margin-right: 5%;
}